
body{
    margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

    background-size: 20px
}

p{
    font-size: 1.5rem;
}
h1{
    font-size: 6rem;
    font-weight: 800;
    margin: 0.5rem 0rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0.5rem 0rem;
}
h3{
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0.5rem 0rem;
}

nav{
    display: flex;
    background-color: #0000FF;
    color: #8f368f;
    padding: 16px;
    box-sizing: border-box;
    color: white;
    position: sticky;
    top: 0; 
}
nav a{
    color: inherit;
    text-decoration: none;
    flex: 1;
    text-align: center;
}

section{
    max-width: 800px;
    margin: 0px auto;
    height: auto;
    overflow: hidden;
    padding: 16px;
}

section>*{
    flex-wrap: wrap;
}

#bar{
    background-color: #081534;
}

#images{
    text-align: center;
    margin-left: 20px;
    margin-top: 30px; 
    display: flex; 
    flex-wrap: wrap
}

#anuario-container{
    background: #0433A2;
    background-size: cover;
    background-blend-mode: lighten;
    background-position: center;
    background-attachment: fixed;
}

.anuario-outtab{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem; 
    height: 3rem
}

.anuario-intab{
    background: #0433A2;
    background-size: cover;
    background-blend-mode: lighten;
    background-position: center;
    background-attachment: fixed;
    position: sticky;
    top: 0;
    z-index: 999;
}

.altBlogCard{
    max-width: 400px;
    width: 100%;
    padding: 1rem;
    border: 0.15rem solid rgb(200,200,200);
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

div.genCard{
    max-width: 200px;
    max-height: 500px;
    width: 100%;
    padding: 1rem;
    background: white;
    border: 0.15rem solid rgb(200,200,200);
    margin: 0.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
}

div.genCard:hover{
    transform: scale(1.2);
}


div.buttons{
    max-width: 50px;
    max-height: 50px;
    width: 100%;
    padding: 1rem;
    margin: 1rem;
    border: 0.15rem solid rgb(200,200,200);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    text-decoration: none;
    color: inherit;
}

div.buttons:hover{
    cursor: pointer;
    color: #0000ff;
    transform: scale(1.5);
}

@media only screen and (max-width: 900px){
    .anuario-outtab *{
        display: none;
    }
    .anuario-outtab #logo{
        display: block;
    }
}